.ticket {
    /*page-break-after: always;*/
    padding: 10px;
    /*border: 1px solid #aaa;*/
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    background: #fff;
    position: relative;
    min-height: 330px;
    font-size: 14px;
    color: #333;
    overflow: hidden;
}

.ticket table {
    width: 100%;
}

.logo_row {
    width: 100%;
    position:relative;
}
.logo_row .organizer_logo {
    position:absolute;
    left: 0;
    top: 0;
    width: 225px;
    height: 90px;
}
.organizer_logo img {
    max-width: 225px;
    max-height: 90px;
}
.logo_row .cohn_logo {
    position:absolute;
    right: 0;
    top: 0;
    width: 475px;
    height: 90px;
}
.cohn_logo img {
    max-width: 475px;
    max-height: 70px;
    float: right;
}

.ticket h1 {
    margin-bottom: 5px;
    margin-top: 0px;
}

.ticket h2 {
    font-size: 25px;
    text-transform: uppercase;
}

.ticket hr {
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 15px 0 0;
}

.ticket .barcode {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0px;
    bottom: 85px;
    overflow: hidden;
    padding: 10px;
    border: 1px solid #000;
    border-left: none;
    background-color: #fdfdfd;
}

.ticket   .barcode_vertical {
    display: block;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    position: absolute;
    right: -38px;
    bottom: 79px;
    width: 192px;
    height: 50px;
    background: #fff;
}

.ticket .top_barcode {
    margin-bottom: 15px;
}

.ticket h4 {
    font-size: 17px;
    margin: 14px auto 7px;
    text-transform: uppercase;
    color: #333;
}

.ticket .layout_even {
    position:relative;
    margin-top:220px;
    height:230px;
    left: 0;
    width: 700px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.ticket .bottom_section {
    position:relative;
    height: 500px;
}
.bottom_section .left_half {
    width: 350px;
    height: 500px;
}
.bottom_section .right_half {
    float:right;
    width: 350px;
    height: 500px;
}
.right_half img {
    max-width:350px;
    max-height: 500px;
    float: right;
}
.disclaimer {
    font-size: 10px;
    border: 1px solid #000;
}

.ticket .event_details, .ticket .attendee_details {
    position: absolute;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

.ticket .event_details {
    left: 0px;
    overflow: hidden;
    max-width: 225px;
    text-overflow: ellipsis;
}

.ticket .attendee_details {
    left: 235px;
    overflow: hidden;
    max-width: 475px;
    text-overflow: ellipsis;
}

.ticket .logo {
    position: absolute;
    right: 0px;
    top: 0px;
    border-top: none;
    border-right: none;
    padding: 5px;
    text-align: center;
}

.ticket .logo img {
    max-width: 233px;
    max-height: 343px;
}

.ticket .foot {
    position: absolute;
    bottom: 0;
    font-size: 9px;
    width: 100%;
    text-align: center;
}